* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.header-box {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}
.title-div {
  padding: 10px;
  margin: 10px;
  font-size: 0.8rem;
}
.buttons-div {
  padding: 10px;
  margin: 10px;
}

.signup {
  color: rgb(41, 154, 236);
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.register {
  background-color: rgb(41, 154, 236);
  color: white;
  font-size: 1 rem;
  border: transparent;
  border-radius: 4px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.hero-title {
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

.carousel {
  width: 800px;
  height: 500px;
  position: relative;
  overflow: hidden;
  left: 24%;
}

.carousel-inner {
  width: 300%;
  height: 100%;
  display: flex;
  animation: carouselAnimation 10s infinite;
}

.carousel-item {
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
}

@keyframes carouselAnimation {
  0% {
    transform: translateX(0);
  }

  33.33% {
    transform: translateX(-70%);
  }

  66.66% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.card-layout {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

.card-body {
  width: 300px;
  height: 280px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.card-image {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  border-radius: 15px;
}

.card-content {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateX(100%);
  position: absolute;
  background: rgb(248, 226, 225);
  background: radial-gradient(
    circle,
    rgba(248, 226, 225, 1) 17%,
    rgba(148, 187, 233, 0.14058123249299714) 100%
  );
  backdrop-filter: blur(15px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.8s ease;
}

.card-body:hover .card-content {
  opacity: 1;
  transform: translateX(0%);
}

.card-title {
  font-size: 20px;
  text-align: center;
  padding: 9px;
}

.card-para {
  font-size: 15px;
  padding: 5px;
  text-align: center;
}
